@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&family=Poppins:wght@400;700&display=swap");

body {
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: whitesmoke;
}

.headers {
  color: white;
  background-color: indianred;
  padding: 6px;
  font-family: "Montserrat";
}

#head-text {
  font-family: "Montserrat";
  font-weight: 600;
}

#task-container {
  padding-top: 10px;
}

#btn-start,
#btn-new,
#btn-reset,
#time {
  margin-top: 20px;
}

#time {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
}

.btn {
  margin-bottom: 4px;
  margin-left: 4px;
}

#timer {
  font-weight: 300;
}
